/* Así defino una paleta de colores que serán los que utilizaré para
todo el proyecto mediante variables:ej  var(--primario) */
:root {
    --blanco: #ffffff;
    --oscuro: #212121;
    --primario: #FFC107;
    --secundario: #0097A7;
    --gris: #757575;
    --grisClaro: #DFE9F3
}

/* Globales */
/* estos dos estilos que le damos al html y al body sirven para que sea
mucho mas facil manejar el tamaño de las cosas en rem mucho más facil 
rem hace que el tamaño se adapte mucho mejor a cualquier tipo de pantalla*/
html {
    font-size: 62.5%;
    box-sizing: border-box; /* Esti sirve para que al agregar padings i borders. no se modifique el tamaño de las cosas */
    scroll-snap-type: y mandatory; /* Hace que el scroll se detenga en los puntos que le indicamos */
}

/* Paradas scroll-snap */
.servicios, .navegacion-principal, .formulario {
    scroll-snap-align: center;
    scroll-snap-stop: always;
}

*, *:before, *:after {
    box-sizing: inherit; /* Esto hace lo mismo que el anterior pero especificando a las subclases */
}

body {
    font-size: 16px; /* 1 rem = 10px */
    font-family: "Krub", sans-serif;
    background-image: linear-gradient(to top, var(--grisClaro) 0%, var(--blanco) 100%);
}
.boton {
    background-color: var(--secundario);
    color: var(--blanco);
    padding: 1rem 3rem;
    margin-top: 3rem;
    font-size: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: .5rem;
    width: 90%;
    text-align: center;
    border: none;
}

@media (min-width: 768px) {
    .boton{
        width: auto;
    }
}
.boton:hover {
    cursor: pointer;
}

.contenedor {
    max-width: 120rem;
    margin: 0 auto;
}

.sombra {
    box-shadow: 0px 5px 15px 0px rgba(94,93,94,0.45);
    background-color: var(--blanco);
    padding: 2rem;
    border-radius: 1rem;
}

/* Tipografía */
h1 {
    font-size: 3.8rem;
}
h2 {
    font-size: 2.8rem;
}
h3 {
    font-size: 1.8rem;
}
h1,h2,h3 {
    text-align: center;
}

/* Titulos */
.titulo span {
    font-size: 2rem;
}

/* Utilidades */
.w-100 {
    width: 100%;
}
@media (min-width: 768px) {
    .w-100 {
        width: auto;
    }
}
.flex {
    display: flex;
}
.alinear-derecha {
    justify-content: flex-end;
}

/* Navegación principal */
.nav-bg {
    background-color: var(--secundario);
}

.navegacion-principal {
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (min-width: 768px) {
    .navegacion-principal {
        flex-direction: row;
        justify-content: space-between;
    }
}

.navegacion-principal a {
    color: var(--blanco);
    text-decoration: none;
    font-size: 2rem;
    font-weight: bold;
    padding: 1rem;
}

.navegacion-principal a:hover {
    background-color: var(--primario);
    color: var(--oscuro);
}

/* Hero */
.hero {
    background-image: url(../img/hero.jpg);
    background-repeat: no-repeat; /* Esto sirve para que la imagen no se repita */
    background-size: cover; /* Esto es para que la imagen cubra todo el div */
    height: 450px;
    position: relative;
    margin-bottom: 2rem;
}
.contenido-hero {
    position: absolute;
    background-color: rgb( 0 0 0 / 70% );
    width: 100%;
    height: 100%;

    /* Alinear horizontalemnete */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Alinear verticalmente */
    justify-content: center;

}

.contenido-hero h2,
.contenido-hero p {
    color: var(--blanco);
}


/* Servicios */
@media (min-width: 768px) {
    .servicios {
        display: grid; /* Sirve para colocar el contenido como si fuera una tabla, define ciertas areas y el contenido se agrupa ahí, tienes acceso a las dos dimensiones */
        grid-template-columns: repeat(3, 1fr); /* creamos 3 columnas y las dividimos a partes iguales le decimos que repita 3 veces
                                                  con fracciones para que ocupen todo el espacio a partes iguales */
        column-gap: 1rem; /* añade el pading a las columnas */
    }
}

.servicio {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.servicio h3 {
    color: var(--secundario);
    font-weight: 400;
}

.servicio p {
    line-height: 2;
    text-align: center;
}

.servicio .iconos {
    width: 15rem;
    height: 15rem;
    background-color: var(--primario);
    border-radius: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

/* Contacto */
.formulario {
    background-color: var(--gris);
    width: min( 60rem, 100% ); /* Utilizar el valor mas pequeño, gracias a esto nos ahorramos las media queris*/
    margin: 0 auto;
    padding: 2rem;
    border-radius: 1rem;
}
.formulario fieldset {
    border: none;
}
.formulario legend {
    text-align: center;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 2rem;
    color: var(--primario);
}

@media (min-width: 768px) {
    .contenedor-campos {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto auto 20rem;
        column-gap: 1rem;
    }

    .campo:nth-child(3),
    .campo:nth-child(4) {
        grid-column: 1 /3;
    }
    
}

.campo {
    margin-bottom: 1rem;
}
.campo label {
    color: var(--blanco);
    font-weight: bold;
    margin-bottom: .5rem;
    display: block;
}
.campo textarea {
    height: 20rem;
}
.input-text {
    width: 100%;
    border: none;
    padding: 1.5rem;
    border-radius: .5rem;

}
.enviar .boton {
    width: 100%;
}

/* Footer */
.footer {
    text-align: center;
}